* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.myweb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}
.myweb h3 {
  font-size: 20px;
}
.desk-navbar {
  display: block;
}

.mobile-navbar {
  align-items: center;
  display: none;
}

.desk-navbar ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.desk-navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
  font-size: 20px;
}
header {
  height: 300px;
  background-color: rgb(208, 233, 255);
  margin-bottom: 10px;
}
header h1 {
  text-align: center;
  line-height: 300px;
  font-size: 40px;
}

.promotion {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.section {
  flex: none;
  width: 50%;
  display: flex;
  height: 50px;
  background-color: rgb(183, 214, 241);
  margin: 10px;
  flex-basis: 47.8%;
}
.section img {
  width: 80px;
  flex: none;
}
.section p {
  line-height: 50px;
  font-size: 20px;
  flex: none;
  padding-left: 5px;
}

.list ul {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.list ul li {
  margin: 10px;
  list-style: none;
  font-size: 20px;
  text-align: center;
  background-color: aliceblue;
}
.list ul li img {
  width: 270px;
}

.list p {
  padding: 1px 0px;
}
/*當螢幕寬度小於1200px時，套用此設定*/
@media screen and (max-width: 1200px) {
  .promotion {
    flex-wrap: wrap;
    width: 90%;
  }

  .section {
    width: 45%;
    flex-basis: 45%;
  }
  .list ul {
    flex-wrap: wrap;
    width: 90%;
  }

  .list ul li {
    width: 45%;
  }
  .list ul li img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
/*當螢幕寬度小於600px時，套用此設定*/
@media screen and (max-width: 600px) {
  .desk-navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
  .section {
    width: 90%;
    flex-basis: 90%;
  }
  .list ul li {
    width: 90%;
  }
}

@media screen and (max-width: 370px) {
  header h1 {
    font-size: 30px;
  }
}
